/* General */
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.4;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  box-shadow: 1px 2px 2px #000;
  color: #fff;
  cursor: pointer;
  padding: 0.5em 1em;
}
.btn:hover {
  text-shadow: 0 0 1px #fff;
}
.btn:active {
  box-shadow: 1px 2px 4px #222 inset, -1px -2px 4px #222 inset;
}

.hidden {
  display: none;
}

.line-through-text {
  text-decoration: line-through;
}
/* /general */

/* container */
#container {
  margin: 1em auto;
  max-width: 90%;
}

@media (min-width: 768px) {
  #container {
    max-width: 70%;
  }
}
@media (min-width: 1024px) {
  #container {
    max-width: 50%;
  }
}
/* /container */

/* heading */
.heading {
  margin-bottom: 0.5em;
}
.heading h1 {
  text-align: center;
}
/* /heading */

/* menu */
#menu {
  border: 1px solid #00f;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
#menu a {
  border-right: 1px solid #00f;
  flex: 1 1 50%;
  text-align: center;
}
#menu a:last-of-type {
  border-right: none;
}
#menu a {
  background-color: #fff;
  color: #00f;
  padding: 0.25em;
}
#menu a.active {
  background-color: #00f;
  color: #fff;
}
/* /menu */

/* section-header */
.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
.section-header .btn {
  flex: 1 1 45%;
  font-weight: bold;
  font-size: 0.75em;
  line-height: 1.5;
}
.section-header .btn:first-of-type {
  margin-right: 5%;
}
.btn.delete {
  background-color: #aa1b1b;
}
.btn.delete {
  background-color: #8c1414;
}
.btn.delete {
  background-color: #b61a1a;
}
.btn.create {
  background-color: #0e7d4e;
}
.btn.create:hover {
  background-color: #135f3e;
}
.btn.create:active {
  background-color: #1f865a;
}
/* /section-header */

.task-card {
  background-color: #e8e8e8;
  border: 1px solid #8e8e8e;
  border-radius: 8px;
  margin-bottom: 1.5em;
}

.task-card.completed > * {
  color: #999;
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 1em 0.5em;
}
.task-card-header .heading-group {
  display: flex;
  flex: 0 0 85%;
  align-items: center;
}
.task-card-header .heading-group .task-checkbox,
.task-card-header .heading-group .delete {
  flex: 0 0 10%;
}

.task-card-header .heading-group .delete {
  margin-right: 3em;
}

.task-card-toggle,
.task-card-view {
  text-align: center;
  flex: 0 1 4em;
  align-self: center;
}

.task-card-body {
  padding-left: 1em;
  padding-right: 1em;
}
.task-description {
  line-height: 1.8;
}
.task-details {
  margin-top: 1em;
}
.checklist-item {
  margin-top: 0.5em;
}
.due-date-subsection,
.priority-subsection,
.task-card-footer {
  margin-top: 1em;
  text-align: right;
}
.due-date-subsection {
  font-weight: bold;
}
.checklist-item {
  display: flex;
  font-size: 0.85em;
  border-bottom: 1px solid #aaa;
  padding-bottom: 0.75em;
  margin-top: 0.75em;
  align-items: center;
}
.checklist-item:last-of-type {
  border-bottom: none;
}
.checkbox-text {
  flex: 1 0 50%;
}
.checkbox-item {
  flex: 1 0 1%;
}
.checklist-item .add,
.checklist-item .delete {
  text-decoration: underline;
  flex: 1 0 10%;
  margin-left: 5%;
  text-align: center;
}
.task-card-footer {
  padding: 0 1em 1em 1em;
}

/* Task add */
.checklist-item.input .checkbox-text {
  flex-basis: 80%;
}
.form-row {
  min-width: 100%;
  margin-bottom: 1em;
}
#task-card-create {
  padding-top: 1em;
}
#task-card-create .checkbox-text,
#task-card-create .task-description,
#task-card-create .task-name {
  font-size: 0.85em;
  padding: 0.5em;
}
#task-card-create .task-description {
  min-height: 7em;
  line-height: 1.2;
  font-family: sans-serif;
}

.project-name {
  width: 100%;
  text-align: center;
  margin-bottom: 0.75em;
  margin: 1em auto 0.75em auto;
  font-size: 1.75em;
  color: #555;
}