.modal {
  position: absolute;
	height: 100%;
  z-index: 9999;
  top: 0;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.6);
}

.modal.hide {
  display: none;
}

.modal.show {
  display: block;
}

.modal-content {
  min-width: 50%;
  max-width: 75%;
  height: 70%;
  position: absolute;
  background-color: #fff;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  overflow-y: scroll;
}

.modal-content .heading {
  margin-bottom: 1.25em;
}

.modal-content .form-input,
.modal-content .btn.create {
  width: 100%;
  display: block;
}

.modal-content .form-input {
  margin-bottom: 1.25em;
  padding: 0.75em 0.5em;
}
.modal-content .btn.create {
  text-align: center;
  margin-bottom: 1.25em;
}

.modal-content .form-input-heading {
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.modal-content .checklist-display {
  padding-left: 1.5em;
  list-style-type: circle;
  margin-bottom: 0.5em;
}
.modal-content .checklist-display li {
  text-align: left;
}

.btn.close {
  display: block;
  margin-left: auto;
}